#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 10px;

}

#register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}