
#register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#footer {
  display: flex;
  height: 40px;
 
}